<footer class="container-fluid">
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p>© 2018 Viaja al pasado<br>· <a class=" altsize">Politica privacidad</a><br>· <a class=" altsize" href="#">Terminos y condiciones</a></p>
      </div>
      <div class="col-xs-12 col-md-5">
      <p class="text-center redes">NUESTRAS REDES SOCIALES</p>  
      <p>
        <a class="icons" href="https://www.facebook.com/">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a class="icons" href="https://www.instagram.com/">
          <i class="fa fa-instagram"></i>
        </a>                    

        <a class="icons" href="https://www.twitter.com/">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="icons" href="https://www.youtube.com/">
          <i class="fa fa-youtube"></i>
        </a>
        </p>
      </div>
      <div class="col-xs-12 col md-1">
        <p class="float-right altsize"><a>Volver arriba</a></p>  
      </div>
    </div>
    </div>
  </footer>