<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" src="http://carloszamorano.es/viaja_al_pasado/img//frigiliana-1.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption d-none d-md-block text-center">

          <p><a class="btn btn-lg btn-primary" routerLink="/servicios" role="button">Consultar Ofertas</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="second-slide" src="http://carloszamorano.es/viaja_al_pasado/img//frigiliana-2.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption d-none d-md-block">
          <p><a class="btn btn-lg btn-primary" routerLink="/nosotras" role="button">Conozcanos</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="third-slide" src="http://carloszamorano.es/viaja_al_pasado/img//frigiliana-3.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption d-none d-md-block text-center">
          <p><a class="btn btn-lg btn-primary" routerLink="/inicio" role="button">Reservar Ahora</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->  

  <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Nosotras. </h2>
        <p class="lead">
          Somos tres amigas de la infancia, jóvenes emprendedoras, cuya idea de negocio es la de acercar la cultura y el deporte, unido al máximo relax y al entorno natural. 
        </p>
        <p class="lead">
          Nuestra empresa se basa en el alquiler de casas tematizadas en el mundo
          árabe, incluyendo unas rutas deportivas y visitas guiadas por la localidad a un precio
          mínimo, añadiendo un catering tanto de comida típica de la localidad como de comida
          árabe.
        </p>
        <p class="lead">
          Queríamos que fuera un negocio dirigido a las familias y a los deportistas, y por eso las rutas son creadas por nosotras, exclusivamente para cada casa, y con la opción de personalizarlas en caso de querer cambiar algo en ellas.
        </p>
          </div>
          <div class="col-md-5">
            <img  class="logo" src="http://carloszamorano.es/viaja_al_pasado/img/logo.png" alt="logo viaja al pasado">
          </div>
        </div>
        
        <!-- /END THE FEATURETTES -->
        <hr class="featurette-divider" name="nosotras" id="nosotras">
    

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="http://carloszamorano.es/viaja_al_pasado/img/mila.png" alt="Foto Mila" width="140" height="140">
        <h2>Mila</h2>
        <p>Encargada de los Alquileres y las Reservas.</p>
        <p>Licenciatura de doble grado en ADE y Turismo</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="http://carloszamorano.es/viaja_al_pasado/img/nuria.png" alt="Foto Nuria" width="140" height="140">
        <h2>Nuria</h2>
        <p>Encargada de las rutas Turísticas y Actividades.</p>
        <p>Licenciatura en INEF y es Entrenadora Personal</p>
        
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="http://carloszamorano.es/viaja_al_pasado/img/lidia.png" alt="Foto Lidia" width="140" height="140">
        <h2>Lidia</h2>
        <p>Administradora de la Publicidad y Redes Sociales.</p>
        <p>Licenciatura en Publicidad y Relaciones Públicas</p>
      </div>
    </div>
    