.main-content {
    background: white;
    margin-top: 250px;
    padding-top:50px;
}

@media only screen and (max-width: 800px){
    
    .main-content {
        margin-top: 20px;
    }
}        

strong {
    font-size: 2rem;
}