.rounded-circle {
    margin: 15px 25%;
    right: 0px;
}

.volver {
  margin: 15px 0;
}

p {
    font-size: 1.5em;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

div.red {
  background-color: red;
  width: 50px; 
  height: 50px;
}

.etiqueta {
    display: inline-block !important;
    background: #2196F3;
    color: white;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 20px;
}


/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
    bottom: 3rem;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
.likes {
    left: 15px;
    top: 15px;
    font-size: 1.4em;
    background-image: url('./../../assets/img/like.png');
    color: #bb0101;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
}

.imgRutas {
  width: 100%;
  height: auto;
}