<nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-invisible">
    <a class="navbar-brand" routerLink="/inicio">
        <img src="http://carloszamorano.es/viaja_al_pasado/img/logo.png" class="logo" alt="logo">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto row">
      <li *ngFor="let item of items | slice:0:3 " class="nav-item col-12 col-lg-3">
        <a routerLink="{{item.url}}" routerLinkActive="active-link" class="nav-link">{{item.name}}</a>
      </li>
      <li class="nav-item col-12 col-lg-3 dropdown show">
        <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">SERVICIOS</a>
        <div class="dropdown-menu show" aria-labelledby="dropdown">
          <a *ngFor="let item of items2 " routerLink="servicios/{{item.id}}" routerLinkActive="active-link" class="dropdown-item">{{item.name}}</a>
        </div>
      
      </li>
    </ul>
    
    </div>
</nav>