<!-- Contenido de Servicios -->
<div class="container-fluid main-content">
    <div class="container">
      <h2 class="section-title title">{{title}}</h2>
      <div class="row mb-2">
      
      <div *ngFor="let servicio of servicios | slice:0:2" class="col-lg-6">
        <div class="card box-shadow">
            
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-0">
              <a class="link-main" routerLink="{{servicio.url}}">{{servicio.name}}</a>
            </h4>
            <div class="mb-1 text-muted">{{servicio.desprice}}</div>
            <p class="card-text mb-auto" >{{servicio.description[0]}}</p>
            <a routerLink="/servicios">{{servicio.urlInfo}}</a>
          </div>
          
          <div>
            <img src="{{servicio.img[0]}}" alt="{{servicio.name}}" style="width: 100%; height:auto;" data-holder-rendered="true">
          </div>
          
        </div>
        </div>
   
    </div>
    </div>
  </div>
  <!-- Fin del Contenido de Servicios -->